.contenedor1 {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #101010;
    border-radius: 10px;
    background-color: #aaaaaa;
    height:stretch;
}

.cuadro_uno {
    padding: 10px;
    border-radius: 15px;
    border: 5px solid #ffffff;
    margin: 5px;
    background-color: #808080;
    height:stretch;
}

.fondo_contenedor {
    background-color: #bbbbbb;
    border: 2px solid #101010;
    width:stretch;
    height:stretch;
}
